.entryDataBlock {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}
.title {
	font-size: 26px;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.52px;
}

.entryDataTitle {
	color: #88888b;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.5; /* 19.5px */
	letter-spacing: 0.13px;

	margin-bottom: 39px;
}

.form div:first-child {
	margin-bottom: 20px;
}

.fill__data {
	margin-top: 20px;
	color: #88888b;
	font-size: 13px;
}
.fill__btn {
	margin-top: 10px;
	font-size: 16px;
	color: var(--primary-color);
}
.fill__btn {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 500;
	color: var(--text-color);
	cursor: pointer;
	transition: var(--tran-03);
}

.fill__btn:hover {
	color: var(--primary-color);
	transform: translateY(-2px);
	color: var(--primary-hover-color);
}
